Repository biocontext-ai/registry: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, validate-mcp-server-names

forbid-to-commit:
  name: Check files in `servers` directory
  language: fail
  entry: 'Only files named `meta.yaml` and `mcp.json` are permitted in the servers directory
  
    '

validate-mcp-server-names:
  name: Validate mcp server names match meta identifiers
  language: python
  entry: python src/schema_validation/validate_mcp_json_schema.py
  additional_dependencies:
  - rich
  - PyYAML
  verbose: true

Add ToxMCP Suite to registry
  servers/ToxMCP-toxmcp/meta.yaml
Due: none

add meta mcp
  servers/biocontext-ai-meta-mcp/mcp.json
  servers/biocontext-ai-meta-mcp/meta.yaml
Due: validate-mcp-server-names

Add BioBTree v2 MCP server to registry
  servers/tamerh-biobtree/mcp.json
  servers/tamerh-biobtree/meta.yaml
Due: validate-mcp-server-names

improved meta information
  servers/tamerh-biobtree/meta.yaml
Due: none

Revise featureList entries in meta.yaml
  servers/tamerh-biobtree/meta.yaml
Due: none

Add ChatSpatial MCP server for spatial transcriptomics
  servers/cafferychen777-ChatSpatial/mcp.json
  servers/cafferychen777-ChatSpatial/meta.yaml
Due: validate-mcp-server-names

switch to url field in tamerh-biobtree mcp.json
  servers/tamerh-biobtree/mcp.json
Due: validate-mcp-server-names

add .mcpskip file to servers for which tool discovery ci fails for upstream reasons
  .pre-commit-config.yaml
  servers/tamerh-biobtree/.mcpskip
  src/schema_validation/create_mcp_json.py
Due: forbid-to-commit

Add RNAcentral to registry
  servers/RNAcentral-rnacentral-mcp-server/meta.yaml
Due: none

Redeploy biobtree
  servers/tamerh-biobtree/.mcpskip
Due: forbid-to-commit

Change command from python to uvx in mcp.json
  servers/cafferychen777-ChatSpatial/mcp.json
Due: validate-mcp-server-names

Add Polymer Genomics MCP to registry
  servers/beldez01-Polymer-Genomics-API/mcp.json
  servers/beldez01-Polymer-Genomics-API/meta.yaml
Due: validate-mcp-server-names

fix failing mcp tool retrieval
  .github/workflows/deploy-json.yaml
  servers/cafferychen777-ChatSpatial/mcp.json
  servers/scmcphub-scmcp/mcp.json
Due: validate-mcp-server-names

make get_mcp_tools fail-safe
  src/schema_validation/get_mcp_tools.py
Due: none

Add cxg-census-mcp to registry
  servers/MaxMLang-cxg-census-mcp/mcp.json
  servers/MaxMLang-cxg-census-mcp/meta.yaml
Due: validate-mcp-server-names

add mcp.json
  servers/RNAcentral-rnacentral-mcp-server/mcp.json
Due: validate-mcp-server-names

Add DisPhaseDB MCP Server to registry
  servers/bioinformatics-fil-disphase-mcp/mcp.json
  servers/bioinformatics-fil-disphase-mcp/meta.yaml
Due: validate-mcp-server-names

Add musharna/data-aggregator-mcp to registry
  servers/musharna-data-aggregator-mcp/meta.yaml
Due: none

Add musharna/plant-genomics-mcp to registry
  servers/musharna-plant-genomics-mcp/meta.yaml
Due: none

Add ExpasyGPT to registry
  servers/sib-swiss-sparql-llm/mcp.json
  servers/sib-swiss-sparql-llm/meta.yaml
Due: validate-mcp-server-names

Add mcp.json for plant-genomics-mcp
  servers/musharna-plant-genomics-mcp/mcp.json
Due: validate-mcp-server-names

Add mcp.json for data-aggregator-mcp
  servers/musharna-data-aggregator-mcp/mcp.json
Due: validate-mcp-server-names

Add dna-seq/just-prs-mcp to registry
  servers/dna-seq-just-prs-mcp/meta.yaml
Due: none

Add scvi-tools mcp to registry
  servers/YosefLab-scvi-tools-mcp/mcp.json
  servers/YosefLab-scvi-tools-mcp/meta.yaml
Due: validate-mcp-server-names

Fix CI timeout
  .github/workflows/deploy-json.yaml
  src/schema_validation/get_mcp_tools.py
Due: none

Add GWAS Catalog MCP server to registry
  servers/ebispot-gwas-mcp/mcp.json
  servers/ebispot-gwas-mcp/meta.yaml
Due: validate-mcp-server-names

Add Drosophila Stocks MCP to registry
  servers/neurorishika-drosophila-stocks-mcp/mcp.json
  servers/neurorishika-drosophila-stocks-mcp/meta.yaml
Due: validate-mcp-server-names

Update plant-genomics-mcp entry: 32->50 tools, 11->23 backends
  servers/musharna-plant-genomics-mcp/meta.yaml
Due: none

Add InterPro MCP to registry
  servers/InterPro-mcp-server/mcp.json
  servers/InterPro-mcp-server/meta.yaml
Due: validate-mcp-server-names

Add @cyanheads/pubmed-mcp-server to registry
  servers/cyanheads-pubmed-mcp-server/mcp.json
  servers/cyanheads-pubmed-mcp-server/meta.yaml
Due: validate-mcp-server-names

Add Ask Helena
  servers/helena-bioinformatics-ask-helena-mcp/meta.yaml
Due: none

Update ToolUniverse entry: 211 tools -> 2600+, fix docs URL, expand featureList
  servers/mims-harvard-ToolUniverse/meta.yaml
Due: none

fix application category and add mcp.json
  servers/helena-bioinformatics-ask-helena-mcp/mcp.json
  servers/helena-bioinformatics-ask-helena-mcp/meta.yaml
Due: validate-mcp-server-names

Add Folklore Clinical Variant Interpretation MCP
  servers/helena-bioinformatics-folklore-mcp/meta.yaml
Due: none

Add Folklore mcp.json and hosted URL
  servers/helena-bioinformatics-folklore-mcp/mcp.json
  servers/helena-bioinformatics-folklore-mcp/meta.yaml
Due: validate-mcp-server-names

describe Ask Helena features instead of just mentioning tool names
  servers/helena-bioinformatics-ask-helena-mcp/meta.yaml
Due: none

Add Quanta FDA 510(k) MCP server
  servers/QuantaAIBot-fda-510k-product-code-export/mcp.json
  servers/QuantaAIBot-fda-510k-product-code-export/meta.yaml
Due: validate-mcp-server-names

Add Noodle biomedical literature MCP
  servers/helena-bioinformatics-noodle-mcp/mcp.json
  servers/helena-bioinformatics-noodle-mcp/meta.yaml
Due: validate-mcp-server-names

Update GWAS Catalog MCP registry entry
  servers/ebispot-gwas-mcp/mcp.json
  servers/ebispot-gwas-mcp/meta.yaml
  servers/gwas-catalog-mcp/mcp.json
  servers/gwas-catalog-mcp/meta.yaml
Due: validate-mcp-server-names

Add plantcv-mcp (musharna/plantcv-mcp)
  servers/musharna-plantcv-mcp/mcp.json
  servers/musharna-plantcv-mcp/meta.yaml
Due: validate-mcp-server-names

Path conditions:
  forbid-to-commit: any of: ^servers/.*, but not: ^servers/.*/(meta.yaml|mcp.json)$
  validate-mcp-server-names: any of: servers/.*/mcp.json
